<a href="https://colab.research.google.com/github/Abhimokashe/Hello-world/blob/main/Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write program to find biggest of given three numbers from command prompt.**

In [ ]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = int(input("Enter third number:"))
if a>b and a>c:
  print("a is biggest number")
if b>c:
    print("b is biggest number")
else:
    print("c is biggest number")

Enter first number:8
Enter second number:9
Enter third number:0
b is biggest number

**Write program for smallest of given 2 numbers.**

In [ ]:
a = int(input("enter first number:"))
b = int(input("enter second number:"))
if a<b:
  print("a is less than b")
else:
  print("b is less than b")

enter first number:8
enter second number:9
a is less than b

**Write program for smallest of given three numbers.**

In [ ]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = int(input("Enter third number:"))
if a<b and a<c:
  print("a is smallest number")
if b<c:
  print("b is smallest number")
else:
  print("c is smallest number")

Enter first number:5
Enter second number:2
Enter third number:3
b is smallest number

**Write program to check whether the given number is even or odd**

In [ ]:
a = int(input("Enter natural number:"))
if (a % 2 == 0):
  print("a is even number")
else:
  print("a is odd number")

Enter natural number:15
a is odd number

In [ ]:
def fact(num):
  result =1
  while num>=1:
    result =result*num
    num =num -1
  return result
for i in range(1,5):
   print("the factorial of",i,"is :",fact(i))

the factorial of 1 is : 1
the factorial of 2 is : 2
the factorial of 3 is : 6
the factorial of 4 is : 24

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    return factorial(n)

In [ ]:
factorial(4)

24

In [ ]:
def sum_sub(a,b):
  sum = a+b
  sub = a-b
  return sum,sub

In [ ]:
sum_sub(100,50)

(150, 50)

In [ ]:
x,y = sum_sub(100,50)         # This is positional argument.
print("The sum of a,b is:",x)
print("The sub of a,b is: ",y)

The sum of a,b is: 150
The sub of a,b is:  50

In [ ]:
def sum(a,b):
  print(a+b)

In [ ]:
sum(10,15)

25

In [ ]:
def abhi(name,msg):           # This is keyword argument
  print("Hello",name,msg)

In [ ]:
abhi(msg ="Good morning",name = "Abhim")

Hello Abhim Good morning

In [ ]:
def wish(name ="Guest"):
  print("Hello",name,"Good Morning")

In [ ]:
wish(name="Satish")

Hello Satish Good Morning

In [ ]:
wish()                           #  This is default argument

Hello Guest Good Morning

In [ ]:
def add(*s):                     # This is variable length argument in which we give number of arguments which are stored in tuple.
  total =0
  for s1 in s:
      total = total + s1
  print(total)

In [ ]:
add(0)

0

In [ ]:
add(10)

10
10

In [ ]:
add(10,20,30,40)

100

In [ ]:
def sum(n1,*n):      # This is example of variable length argument mixed positional argument.
  print(n1)          # In this type we don't have to explicitly mention value of n1 in calling. It takes.  
  for i in n:
    print(i)

In [ ]:
sum(10,20,50,40,70)

10
20
50
40
70

In [ ]:
def sub_key(n1,*n):
  print(n1)
  for i in n:
    print(i,end=" ")

In [ ]:
sub_key(10,"a",20,"c",50,"z")

10
a 20 c 50 z

In [ ]:
def mention(*n,n1):    # If we use variable length argument (*n) first and then positional argument(n1).
  print(n1)            # We have to explicitly mention value of n1 in method calling.
  for i in n:
    print(i,end=" ")

In [ ]:
mention(10,20,30,n1=40)  #We have explicitly mention value of n1 last we can not mention anywhere we have to mention at last.

40
10 20 30

In [ ]:
def display(**kwargs):      # call this function by passing any no. of keyword arguments
  for k,v in kwargs.items():
    print(k,"=",v)

In [ ]:
display(n1=10,n2=20,n3=40)   # Internally these keywords will be stored inside dictionary.

n1 = 10
n2 = 20
n3 = 40

In [ ]:
display(rno=100,name="vinayak",marks=70,subject="java")

rno = 100
name = vinayak
marks = 70
subject = java

In [ ]:
def fact(x):                    # Recursion of function fact(x)
  result =1
  while (x>=1):
      result = result*x
      x =x-1
  return result

In [ ]:
for i in range(1,5):
  print("The factorial of",i,"is: ",fact(i))

The factorial of 1 is:  1
The factorial of 2 is:  2
The factorial of 3 is:  6
The factorial of 4 is:  24

In [ ]:
def sum(*num,x):
  total =0

In [ ]:
display(n1=10,n2=20,n3=30)

In [ ]:
n = int(input("Enternumber: "))
i=1
sum=0
while i<=n:
  sum =sum + i
  i=i+1
  continue
print("The sum of first",n,"numbers is:",sum)

Enternumber: 4
The sum of first 4 numbers is: 10

In [ ]:
s = lambda a,b,c:a if a>b and a>c else b if b>c else c
print("Biggest number is: ",s(3,5,9))

Biggest number is:  9

In [ ]:
def iseven(x):
  if x%2==0:
    return True
  else:
    return False
l =[0,5,10,15,20,25]
l1 =list(filter(iseven,l))
print(l1)

[0, 10, 20]

In [ ]:
l =[0,5,10,15,20,25]
l1 =list(filter(lambda s:s%2==0,l))    #filter function syntax= filter(function,sequence) and syntax of lambda function =lambda argument:expression
print(l1)
l2 =list(filter(lambda s:s%2!=0,l))
print(l2)

[0, 10, 20]
[5, 15, 25]

In [ ]:
l = [1,2,3,4,5,6]
def doubleit(x):
  return 2*x
l1 =list(map(doubleit,l))
print(l1)

[2, 4, 6, 8, 10, 12]

In [ ]:
l = [1,2,3,4,5,6,7]
l1 =list(map(lambda x:2*x,l))
print(l1)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
l = [1004,5,987,5674]
def squareit(x):
    return x*x
l1= list(map(squareit,l))
print(l1)

[1008016, 25, 974169, 32194276]

In [ ]:
l=[1004,5,987,5674]
l1 = list(map(lambda x:x*x,l))
print(l1)

[1008016, 25, 974169, 32194276]

In [ ]:
from functools import*
l =[10,20,30,40,50]
result =reduce(lambda x,y:x+y,l)
print(result)

150

In [ ]:
result= reduce(lambda x,y:x*y,l)
print(result)

12000000

In [ ]:
import re
s = "GeeksforGeeks: A computer science portal for geeks"
match = re.search(r'science',s)
print("starts index: ",match.start())
print("Ends index: ",match.end())

starts index:  26
Ends index:  33